<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">

</head>
<body>
    <%- include('../includes/navigation.ejs') %>
   
	<div style="margin-top:100px"></div>
    <!--================Category Product Area =================-->
	<section class="cat_product_area section_gap">
		<div class="container-fluid">
			<div class="row flex-row-reverse">
                <div class="col-lg-3"></div>
				<div class="col-lg-6">
                    <div class="blog_right_sidebar">
                    <% if(genres.length>0) { %>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Book Categories</h4>
                            <ul class="list cat-list">
                                <% for(let genre of genres) { %>
                                <li>
                                    <a href="/products/tags/<%= genre.tag %>" class="d-flex justify-content-between">
                                        <p><%= genre.tag %></p>
                                        
                                    </a>
                                </li>
                                <% } %>
                            </ul>
                            <div class="br"></div>
                        </aside>
                    <% } %>
                    </div>
				</div>
				<div class="col-lg-3">
					<div class="left_sidebar_area">
						<aside class="left_widgets cat_widgets">
                            <div class="widgets_inner">
                                <div class="input-group d-flex flex-row">
                                    <input name="SEARCH" placeholder="Search products.." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search products.. '"
                                    required="" type="text">
                                    <button class="btn sub-btn">
                                        <span class="lnr lnr-arrow-right"></span>
                                    </button>
                                </div>
                                <div class="mt-10 info"></div>
							</div>
							<% if (lessGenres.length > 0) { %>
							<div class="l_w_title">
								<h3>Browse Categories</h3>
							</div>
							<div class="widgets_inner">
								
								<ul class="list">
									<% for (let genre of lessGenres) { %>
									<li>
										<a href="/products/tags/<%= genre.tag %>"><%= genre.tag %></a>
									</li>
									<% } %>
									<li>
										<a href="/book-genres">See more...</a>
									</li>
				
								</ul>
								
								
							</div>
							<% } %>
							<% if (authors.length > 0) { %>
							<div class="l_w_title">
								<h3>Browse Authors</h3>
							</div>
							<div class="widgets_inner">
								<ul class="list">
									<% for (let auth of authors) { %>
									<li>
										<a href="/authors/<%= auth._id %>"><%= auth.name %></a>
									</li>
									<% } %>
									<li>
										<a href="/authors">See more...</a>
									</li>
								</ul>
							</div>
							<% } %>
						</aside>
						<aside class="left_widgets p_filter_widgets">
							<div class="l_w_title">
								<h3>Product Filters</h3>
							</div>
							<div class="widgets_inner">
								<h4>Format</h4>
								<ul class="list">
									<li>
										<a href="#">Audio CD</a>
									</li>
									<li>
										<a href="#">Audiobook</a>
									</li>
									<li class="active">
										<a href="#">Hardcover</a>
									</li>
									<li>
										<a href="#">Paperback</a>
									</li>
								</ul>
							</div>
							
							<div class="widgets_inner">
								<h4>Price</h4>
								<div class="range_item">
									<div id="slider-range"></div>
									<div class="row m0">
										<label for="amount">Price : </label>
										<input type="text" id="amount" readonly>
									</div>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>

			
		</div>
	</section>
	<!--================End Category Product Area =================-->
<%- include('../includes/end.ejs') %>
