<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">

</head>
<body  > 
    <%- include('../includes/navigation.ejs') %>
    <div style="margin-top:50px"></div>
    <section class="cat_product_area section_gap">
    <div class="container-fluid">
            <div class="event_details">
                <h2> Events</h2>
                <h4>Check back here regularly for updates about more events.</h4>
            </div>

                <div class="container-fluid">
                    <div class="row flex-row-reverse">
                        <div class="col-lg-12">
                            <div class="product_top_bar">
                                <div class="left_dorp">
                                    <select class="sorting">
                                        <option value="All">Sort by Location</option>
                                        <option value="India">India</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="United States of America">United States of America</option>
                                        <option value="Australia">Australia</option>
                                        
                                    </select>
                                    <!-- <select class="show">
                                        <option value="1">Show 12</option>
                                        <option value="2">Show 14</option>
                                        <option value="4">Show 16</option>
                                    </select> -->
                                    <form action="/events/category" method="post">
                                        <select class="sorting" name="category" id="category" onchange="javascript:this.form.submit()">
                                            <option value="default">Sort by category</option>
                                            <option value="c1">All</option>
                                            <option value="c2">Book launch</option>
                                            <option value="c3">Meet n Greet</option>
                                            <option value="c4">Discussion & Interaction</option>
                                            <option value="c5">QnA</option>
                                        </select>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <!-- <input type="submit" value="Go" class="button"> -->
                                    </form>
                                    
                                </div>
                                
                                <div class="right_page ml-auto">
                                    <nav class="cat_page" aria-label="Page navigation example">
                                       
                                    
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
           
            <% if (events.length > 0) { %>
            <div class="grid">
                <% for (let event of events) { %>
                    <a href="/events/<%= event._id %>"><article class="card event-item">
                        <!-- <header class="card__header">
                            <h1 class="product__title"><%= event.title %></h1>
                            <h4 class="product__author"><%= event.authorId.name %></h4>
                        </header> -->
                        <div class="event__image">
                            <img src="/<%= event.imageUrl %>"
                                alt="<%= event.title %>">
                        </div>
                        <div class="event__content">
                                <h5 ><%= event.title %></h5>  
                                <h6 class="event__date"><%= event.date.toDateString() %></h6>  
                        </div>
                     
                        
                    </article></a>
                <% } %>
            </div>
        <% } else { %>
            <div class="grid" style="height: 500px;">
                <h1>Events not found</h1>
            </div>
        <% } %>
        </div>
    </section>
    <div style="margin-bottom:100px"></div>

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"
    integrity="sha256-Ls0pXSlb7AYs7evhd+VLnWsZ/AqEHcXBeMZUycz/CcA=" crossorigin="anonymous"></script>

<script type="text/javascript">
    let cat = '<%= category %>';
    console.log("This is "+cat);
    $("#category [value=<%= category %>]").attr("selected","selected");
</script>
<%- include('../includes/end.ejs') %>
