<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">

</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <!--================Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="overlay"></div>
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content row">
					<div class="offset-lg-2 col-lg-8">
						<h3>Make an impact with your words</h3>
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p> -->
						<a class="white_bg_btn" href="#">See more</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->
    <!--================Feature Product Area =================-->
	<section class="feature_product_area section_gap">
		<div class="main_box">
			<% if(!userIsLoggedIn) { %>
				<div class="container-fluid">
					<div class="row">
						<div class="main_title">
							<h2>Featured Books</h2>
							<p>The most popular ones in our bookstore.</p>
						</div>
					</div>
					<% if (prods.length > 0) { %>
					<div class="row">
						<% for (let product of prods) { %>
						<div class="col col1">
							<div class="f_p_item">
								<a href="/products/<%= product._id %>">
									<div class="card__image f_p_img">
					
										<img class="img-fluid" src="/<%= product.imageUrl %>" alt="<%= product.title %>">
										<div class="p_icon">
											<% if (userIsLoggedIn) { %>
											<%- include('../includes/add-to-cart.ejs',{prod:product}) %>
											<% } %>
											<!-- <a href="#">
																<i class="lnr lnr-cart"></i>
															</a> -->
										</div>
									</div>
								</a>
								<a href="/products/<%= product._id %>">
									<h4><%= product.title %></h4>
								</a>
								<!-- <h6>Michelle Obama</h6> -->
								<h5>₹<%= product.price %></h5>
							</div>
						</div>
						<% } %>
					</div>
					<% } else { %>
					<h1>Products not found</h1>
					<% } %>
					
					
				</div>
			<% } else { %>
				<div class="container-fluid">
					<div class="row">
						<div class="main_title">
							<h2>Recently viewed books</h2>
						</div>
					</div>
					<% if (user.session.viewedBooks.length > 0) { %>
					<div class="row">
						<% for (let book of user.session.viewedBooks) { %>
						<div class="col col1">
							<div class="f_p_item">
								<a href="/products/<%= book.productId._id %>">
									<div class="card__image f_p_img">
					
										<img class="img-fluid" src="/<%= book.productId.imageUrl %>" alt="<%= book.productId.title %>">
										<div class="p_icon">
											<%- include('../includes/add-to-cart.ejs',{prod:book.productId}) %>
											
										</div>
									</div>
								</a>
								<a href="/products/<%= book.productId._id %>">
									<h4><%= book.productId.title %></h4>
								</a>
								<!-- <h6>Michelle Obama</h6> -->
								<h5>₹<%= book.productId.price %></h5>
							</div>
						</div>
						<% } %>
					</div>
					<% } else { %>
						<p>You are yet to explore...</p>
					<% } %>
					
				</div>
			<% } %>
		</div>
	</section>
	<!--================End Feature Product Area =================-->
    
    <section class="blog_categorie_area">
        <div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="section-title text-center">
						<h2 style="color:black">Blogs</h2>
						<span>Share your thoughts</span>
					</div>
				</div>
			</div>
			<br>
			
            <div class="row">
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="/img/blog/scotland.jpeg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="/blogs/tags/Travel">
                                    <h5>Travel</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Explore different parts of the world</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="/img/blog/black-swan.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="/blogs/tags/Cinematography">
                                    <h5>Cinematography</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>A deep analysis of films</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="/img/blog/beverage.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="/blogs/tags/Beverage">
                                    <h5>Food and Beverage</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Relish into worldwide cuisines</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!--================Blog Categorie Area =================-->


	<!--================ Subscription Area ================-->
	<section class="subscription-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="section-title text-center">
						<h2>Subscribe for Our Newsletter</h2>
						<span>We won’t send any kind of spam</span>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div id="mc_embed_signup">
						<form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01"
						 method="get" class="subscription relative">
							<input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
							 required="">
							<!-- <div style="position: absolute; left: -5000px;">
								<input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
							</div> -->
							<button type="submit" class="newsl-btn">Get Started</button>
							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Subscription Area ================-->
<%- include('../includes/end.ejs') %>